.landing-message {
    font-size: 0.75rem;
    color: var(--color-secondary);
    font-family: Merriweather-Regular;
    text-align: center;
}

.landing-define-box {
    margin-top: 2rem;
    padding-bottom: 25%;
}

.logo {
    padding-top: 1rem;
    font-family: Merriweather-Black;
    font-size: 4rem;
    color: var(--color-primary);
}

.logo span {
    color: var(--color-secondary);
}